# Context data for the sea level data explorer

In [1]:
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

#get data from worldbank
from pandas_datareader import wb

import glob
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import json
import matplotlib.pyplot as plt

InteractiveShell.ast_node_interactivity = "all"
pd.options.display.max_rows = 200
#matplotlib.rcParams['svg.fonttype'] = 'none'

# Sea Level Data, Stations

In [17]:
stations = pd.read_csv('context_data/sealevel_viz_psmsl_1985_2015.csv', usecols=[1, 3, 4, 5, 6])

stations = stations.drop_duplicates()

stations['id'].nunique()
stations.head()

520

     id    location  latitude  longitude country
0     1       Brest    48.383     -4.495     FRA
32    3   Sheerness    51.446      0.743     GBR
63    5    Holyhead    53.314     -4.620     GBR
95    7  Cuxhaven 2    53.867      8.717     DEU
127   8    Wismar 2    53.899     11.458     DEU

In [18]:
tide_data = pd.read_csv('data/dataviz/sealevel_viz_whole_timeseries.csv')

#tide_data = pd.read_csv('data/dataviz/sealevel_viz_psmsl_1985_2015.csv')

In [19]:
tide_data

,id,1807,1808,1809,1810,1811,1812,1813,1814,1815,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,0.0,-103.0,-15.0,-24.0,7.0,3.0,-45.0,-28.0,-44.0,...,161.0,171.0,183.0,143.0,151.0,173.0,228.0,152.0,183.0,NaN
1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,285.0,283.0,NaN,NaN,NaN,NaN,NaN,234.0,NaN,NaN
2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,132.0,166.0,162.0,192.0,118.0,182.0,144.0,146.0,NaN
3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,349.0,286.0,267.0,326.0,300.0,264.0,299.0,384.0,330.0,NaN
4,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154.0,125.0,162.0,136.0,181.0,141.0,101.0,159.0,NaN,NaN
5,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,281.0,254.0,270.0,266.0,271.0,257.0,284.0,295.0,300.0,NaN
6,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.0,129.0,140.0,136.0,124.0,111.0,193.0,220.0,178.0,NaN
7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,210.0,182.0,208.0,185.0,222.0,170.0,137.0,210.0,178.0,NaN
8,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,424.0,451.0,487.0,483.0,458.0,425.0,445.0,415.0,434.0,NaN
9,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-209.0,-345.0,-397.0,-247.0,-233.0,-355.0,-399.0,-190.0,-319.0,NaN
10,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162.0,143.0,146.0,150.0,142.0,129.0,166.0,169.0,174.0,NaN
11,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,423.0,401.0,411.0,417.0,416.0,401.0,431.0,440.0,443.0,NaN
12,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,298.0,263.0,251.0,297.0,282.0,253.0,287.0,316.0,299.0,NaN
13,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,287.0,252.0,238.0,292.0,276.0,252.0,296.0,349.0,316.0,NaN
14,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,347.0,300.0,279.0,344.0,331.0,288.0,341.0,388.0,353.0,NaN
15,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141.0,100.0,88.0,119.0,113.0,88.0,136.0,150.0,144.0,NaN
16,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-198.0,-265.0,-353.0,-195.0,-245.0,-295.0,-271.0,-211.0,-283.0,NaN
17,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,986.0,1034.0,1197.0,1127.0,1053.0,1147.0,1113.0,1110.0,NaN,NaN
18,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-81.0,-109.0,-182.0,-57.0,-115.0,-97.0,-125.0,-19.0,-109.0,NaN
19,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.0,82.0,36.0,102.0,70.0,56.0,100.0,104.0,77.0,NaN
20,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,301.0,278.0,271.0,288.0,243.0,196.0,179.0,192.0,NaN,NaN
21,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-981.0,-1102.0,-1168.0,-1006.0,-1009.0,-1139.0,-1164.0,-967.0,-1124.0,NaN
22,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.0,90.0,44.0,114.0,84.0,62.0,102.0,120.0,80.0,NaN
23,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,204.0,333.0,183.0,178.0,188.0,246.0,161.0,174.0,NaN
24,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-320.0,-390.0,-479.0,-322.0,-372.0,-422.0,-400.0,-330.0,-402.0,NaN
25,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-70.0,-178.0,-183.0,-118.0,-77.0,-186.0,-218.0,-65.0,-150.0,NaN
26,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.0,-21.0,-23.0,26.0,66.0,-28.0,-56.0,68.0,0.0,NaN
27,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-377.0,-504.0,-550.0,-417.0,-396.0,-522.0,-560.0,-366.0,-487.0,NaN
28,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,37.0,42.0,61.0,68.0,NaN,NaN,NaN,NaN,NaN
29,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-321.0,-439.0,-472.0,-367.0,-333.0,-467.0,-491.0,-327.0,-438.0,NaN
30,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-572.0,-685.0,-768.0,-584.0,-602.0,-725.0,-738.0,-530.0,-713.0,NaN
31,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268.0,178.0,117.0,265.0,217.0,NaN,NaN,NaN,NaN,NaN
32,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142.0,115.0,125.0,113.0,130.0,NaN,NaN,NaN,NaN,NaN
33,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.0,38.0,-59.0,192.0,90.0,NaN,NaN,NaN,NaN,NaN
34,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-779.0,-898.0,-970.0,-800.0,-803.0,-940.0,-958.0,-768.0,-928.0,NaN
35,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.0,8.0,-50.0,56.0,19.0,NaN,NaN,NaN,NaN,NaN
36,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,-45.0,-31.0,-12.0,-39.0,NaN,NaN,NaN,NaN,NaN
37,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,243.0,213.0,219.0,230.0,222.0,220.0,245.0,239.0,255.0,NaN
38,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,329.0,367.0,440.0,405.0,393.0,403.0,340.0,NaN,NaN,NaN
39,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169.0,143.0,137.0,163.0,162.0,NaN,NaN,NaN,NaN,NaN
40,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,289.0,238.0,228.0,357.0,326.0,326.0,254.0,214.0,219.0,NaN
41,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.0,148.0,114.0,103.0,168.0,173.0,224.0,237.0,221.0,NaN
42,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142.0,102.0,119.0,124.0,145.0,NaN,NaN,NaN,NaN,NaN
43,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127.0,30.0,43.0,119.0,NaN,NaN,NaN,NaN,NaN,NaN
44,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118.0,40.0,80.0,134.0,128.0,NaN,NaN,NaN,NaN,NaN
45,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,225.0,167.0,187.0,150.0,237.0,NaN,NaN,NaN,NaN,NaN
46,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173.0,67.0,-369.0,102.0,-407.0,-108.0,68.0,-237.0,-37.0,NaN
47,127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,170.0,176.0,246.0,206.0,242.0,153.0,263.0,279.0,289.0,NaN
48,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,308.0,319.0,336.0,338.0,348.0,344.0,299.0,306.0,334.0,NaN
49,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,284.0,315.0,274.0,NaN,NaN,NaN,NaN,NaN,NaN
50,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-108.0,-81.0,-40.0,-101.0,-56.0,-51.0,-93.0,-97.0,-49.0,NaN
51,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,27.0,35.0,38.0,72.0,26.0,43.0,34.0,83.0,NaN
52,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.0,80.0,112.0,107.0,148.0,99.0,124.0,106.0,156.0,NaN
53,135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,385.0,423.0,428.0,496.0,417.0,386.0,408.0,368.0,396.0,NaN
54,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,155.0,154.0,137.0,143.0,158.0,192.0,185.0,202.0,231.0,NaN
55,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,446.0,355.0,-60.0,388.0,-139.0,172.0,357.0,55.0,250.0,NaN
56,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,74.0,-226.0,153.0,-279.0,-51.0,72.0,-164.0,17.0,NaN
57,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,853.0,827.0,799.0,833.0,899.0,870.0,782.0,802.0,831.0,NaN
58,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,216.0,252.0,259.0,299.0,273.0,243.0,255.0,233.0,259.0,NaN
59,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,256.0,305.0,372.0,263.0,258.0,321.0,352.0,265.0,288.0,240.0
60,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180.0,133.0,156.0,153.0,156.0,169.0,189.0,187.0,240.0,NaN
61,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,191.0,210.0,196.0,195.0,220.0,215.0,286.0,326.0,258.0,NaN
62,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,507.0,556.0,555.0,503.0,570.0,576.0,557.0,634.0,716.0,NaN
63,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,225.0,164.0,151.0,164.0,136.0,166.0,179.0,209.0,149.0,NaN
64,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-307.0,-274.0,-212.0,-272.0,-233.0,-341.0,-225.0,-222.0,-208.0,NaN
65,166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,94.0,137.0,87.0,125.0,33.0,137.0,149.0,155.0,NaN
66,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.0,82.0,158.0,128.0,138.0,23.0,127.0,138.0,132.0,NaN
67,172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-433.0,-564.0,-617.0,-469.0,-460.0,-591.0,-621.0,-430.0,-570.0,NaN
68,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-32.0,-44.0,-27.0,3.0,-84.0,NaN,NaN,NaN,NaN,NaN
69,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120.0,114.0,183.0,202.0,161.0,188.0,162.0,142.0,155.0,NaN
70,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-104.0,-103.0,-6.0,-39.0,-4.0,-104.0,-8.0,5.0,6.0,NaN
71,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-128.0,-179.0,-240.0,-134.0,-161.0,-209.0,-188.0,-152.0,-191.0,NaN
72,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,347.0,391.0,430.0,413.0,403.0,353.0,378.0,352.0,393.0,NaN
73,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136.0,190.0,264.0,217.0,211.0,193.0,185.0,128.0,168.0,NaN
74,188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,211.0,203.0,197.0,191.0,237.0,247.0,255.0,284.0,271.0,NaN
75,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154.0,115.0,150.0,192.0,236.0,201.0,97.0,40.0,NaN,NaN
76,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,230.0,196.0,164.0,280.0,112.0,191.0,224.0,106.0,222.0,NaN
77,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-13.0,-3.0,68.0,33.0,66.0,-28.0,73.0,84.0,89.0,NaN
78,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-611.0,-733.0,-807.0,-629.0,-634.0,-763.0,-786.0,-589.0,-754.0,NaN
79,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.0,217.0,237.0,225.0,204.0,167.0,217.0,119.0,213.0,NaN
80,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,78.0,84.0,106.0,85.0,139.0,110.0,97.0,148.0,NaN
81,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,500.0,436.0,221.0,495.0,151.0,341.0,444.0,239.0,407.0,NaN
82,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149.0,162.0,192.0,107.0,116.0,142.0,194.0,127.0,159.0,NaN
83,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-663.0,-780.0,-849.0,-666.0,-675.0,-812.0,-826.0,-632.0,-802.0,NaN
84,205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.0,41.0,80.0,68.0,35.0,69.0,NaN,NaN,NaN,NaN
85,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,84.0,71.0,48.0,70.0,91.0,91.0,105.0,136.0,NaN
86,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.0,147.0,297.0,166.0,122.0,254.0,225.0,182.0,172.0,NaN
87,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,207.0,149.0,183.0,206.0,242.0,183.0,142.0,193.0,NaN
88,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,213.0,200.0,187.0,216.0,219.0,253.0,250.0,263.0,285.0,NaN
89,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,293.0,307.0,303.0,291.0,263.0,283.0,256.0,295.0,NaN
90,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-41.0,-65.0,-6.0,-40.0,-19.0,-119.0,-69.0,-55.0,-39.0,NaN
91,229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-580.0,-690.0,-775.0,-579.0,-599.0,-729.0,-738.0,-534.0,-717.0,NaN
92,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147.0,125.0,78.0,116.0,128.0,166.0,95.0,41.0,NaN,NaN
93,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,159.0,197.0,173.0,172.0,216.0,216.0,274.0,285.0,287.0,NaN
94,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,224.0,257.0,323.0,283.0,265.0,257.0,258.0,229.0,267.0,NaN
95,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157.0,120.0,100.0,150.0,133.0,101.0,152.0,182.0,159.0,NaN
96,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-274.0,-406.0,-449.0,-311.0,-299.0,-419.0,-456.0,-265.0,-398.0,NaN
97,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-600.0,-711.0,-794.0,-614.0,-620.0,-745.0,-759.0,-557.0,-735.0,NaN
98,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,33.0,12.0,5.0,25.0,19.0,86.0,126.0,59.0,NaN
99,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.0,157.0,137.0,100.0,166.0,162.0,158.0,176.0,245.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,1353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-80.0,-127.0,-60.0,-127.0,-99.0,-184.0,-99.0,-86.0,-79.0,NaN
421,1354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.0,50.0,50.0,26.0,75.0,-38.0,40.0,45.0,90.0,NaN
422,1364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.0,171.0,189.0,149.0,NaN,NaN,NaN,NaN,NaN,NaN
423,1365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,71.0,78.0,68.0,113.0,92.0,92.0,98.0,138.0,NaN
424,1370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,63.0,94.0,103.0,74.0,-12.0,NaN,NaN,NaN
425,1371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16.0,134.0,31.0,49.0,97.0,95.0,181.0,NaN,NaN,NaN
426,1386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,43.0,64.0,51.0,101.0,69.0,74.0,62.0,108.0,NaN
427,1387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,93.0,125.0,93.0,145.0,153.0,117.0,109.0,159.0,NaN
428,1388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-119.0,-101.0,-107.0,-137.0,-77.0,-137.0,-119.0,-118.0,-77.0,NaN
429,1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,93.0,137.0,82.0,128.0,129.0,103.0,94.0,132.0,NaN
430,1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152.0,149.0,199.0,207.0,238.0,179.0,227.0,214.0,272.0,NaN
431,1391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,151.0,138.0,189.0,109.0,57.0,106.0,123.0,160.0,NaN
432,1392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-60.0,-86.0,-48.0,-57.0,-16.0,-197.0,NaN,NaN,NaN,NaN
433,1393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.0,8.0,83.0,64.0,98.0,72.0,109.0,133.0,110.0,NaN
434,1394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,95.0,106.0,105.0,115.0,93.0,180.0,203.0,149.0,NaN
435,1395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,1397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.0,133.0,109.0,151.0,149.0,139.0,193.0,NaN,NaN,NaN
437,1420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,1421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-188.0,-175.0,-203.0,-145.0,-204.0,-239.0,-262.0,-184.0,-219.0,NaN
439,1423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.0,61.0,73.0,94.0,71.0,87.0,NaN,NaN,NaN,NaN
440,1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.0,117.0,139.0,153.0,179.0,178.0,118.0,153.0,176.0,NaN
441,1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132.0,128.0,169.0,164.0,187.0,191.0,136.0,174.0,201.0,NaN
442,1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-261.0,-356.0,170.0,149.0,64.0,-206.0,13.0,-273.0,-123.0,NaN
443,1441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-59.0,44.0,101.0,-18.0,25.0,95.0,76.0,11.0,19.0,NaN
444,1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,228.0,258.0,282.0,286.0,265.0,310.0,333.0,344.0,371.0,NaN
445,1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.0,95.0,21.0,71.0,116.0,117.0,161.0,170.0,159.0,NaN
446,1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,77.0,82.0,88.0,134.0,NaN,148.0,153.0,190.0,NaN
447,1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.0,70.0,48.0,52.0,98.0,69.0,95.0,95.0,122.0,NaN
448,1447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-17.0,-82.0,23.0,-7.0,26.0,-5.0,14.0,44.0,24.0,NaN
449,1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-45.0,-16.0,0.0,48.0,-24.0,-66.0,33.0,-6.0,NaN
450,1449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,28.0,29.0,47.0,55.0,73.0,NaN,NaN,NaN,NaN
451,1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-22.0,12.0,68.0,-33.0,0.0,80.0,116.0,NaN,NaN,NaN
452,1468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,174.0,193.0,226.0,149.0,153.0,170.0,212.0,154.0,165.0,NaN
453,1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.0,119.0,154.0,87.0,72.0,97.0,140.0,81.0,95.0,NaN
454,1473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-15.0,28.0,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
455,1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.0,66.0,27.0,43.0,79.0,98.0,35.0,NaN,NaN,NaN
456,1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,99.0,58.0,86.0,80.0,120.0,NaN,NaN,NaN,NaN
457,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-183.0,-193.0,-181.0,-178.0,-164.0,-172.0,-227.0,-185.0,-165.0,NaN
458,1489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,22.0,41.0,21.0,69.0,45.0,58.0,44.0,75.0,NaN
459,1490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-18.0,28.0,-27.0,-1.0,102.0,120.0,85.0,132.0,151.0,NaN
460,1495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101.0,101.0,114.0,106.0,98.0,128.0,NaN,NaN,NaN,NaN
461,1501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.0,61.0,144.0,58.0,70.0,59.0,130.0,86.0,36.0,NaN
462,1505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,203.0,188.0,234.0,184.0,193.0,196.0,221.0,165.0,351.0,NaN
463,1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,61.0,29.0,14.0,64.0,2.0,29.0,53.0,71.0,NaN
464,1527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.0,131.0,141.0,128.0,88.0,84.0,141.0,93.0,112.0,NaN
465,1544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,53.0,66.0,110.0,123.0,122.0,115.0,122.0,150.0,NaN
466,1545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-20.0,-13.0,16.0,24.0,10.0,15.0,-35.0,-37.0,-25.0,NaN
467,1546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.0,146.0,133.0,93.0,137.0,121.0,137.0,171.0,223.0,NaN
468,1549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128.0,194.0,221.0,NaN,NaN,221.0,182.0,168.0,NaN,NaN
469,1567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.0,58.0,90.0,80.0,118.0,20.0,54.0,36.0,73.0,NaN
470,1568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,24.0,39.0,18.0,68.0,36.0,68.0,68.0,104.0,NaN
471,1585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.0,81.0,113.0,85.0,136.0,128.0,101.0,99.0,156.0,NaN
472,1586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,38.0,48.0,23.0,73.0,59.0,60.0,59.0,98.0,NaN
473,1587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,36.0,69.0,2.0,18.0,28.0,-16.0,-25.0,-9.0,NaN
474,1588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,-10.0,76.0,57.0,100.0,67.0,104.0,108.0,132.0,NaN
475,1589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,46.0,72.0,95.0,66.0,93.0,21.0,36.0,64.0,NaN
476,1590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.0,129.0,108.0,141.0,107.0,130.0,84.0,134.0,145.0,NaN
477,1591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-18.0,29.0,66.0,-5.0,50.0,65.0,-16.0,2.0,58.0,NaN
478,1592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-140.0,-157.0,-103.0,-91.0,-167.0,-151.0,-116.0,-121.0,-43.0,NaN
479,1593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.0,-18.0,19.0,3.0,27.0,44.0,-15.0,-42.0,19.0,NaN
480,1594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,-18.0,25.0,-6.0,47.0,59.0,6.0,-16.0,60.0,NaN
481,1595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.0,44.0,91.0,60.0,100.0,110.0,59.0,32.0,185.0,NaN
482,1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,-1.0,77.0,67.0,15.0,23.0,18.0,-24.0,43.0,NaN
483,1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.0,-3.0,31.0,32.0,-3.0,10.0,39.0,NaN,NaN,NaN
484,1627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125.0,145.0,132.0,89.0,48.0,114.0,143.0,150.0,181.0,NaN
485,1628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,-23.0,33.0,32.0,68.0,21.0,39.0,34.0,64.0,NaN
486,1629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.0,134.0,206.0,191.0,162.0,180.0,171.0,146.0,NaN,NaN
487,1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152.0,193.0,241.0,188.0,190.0,210.0,204.0,187.0,NaN,NaN
488,1631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229.0,173.0,214.0,277.0,247.0,268.0,173.0,126.0,NaN,NaN
489,1633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,31.0,99.0,53.0,91.0,1.0,99.0,110.0,116.0,NaN
490,1634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,57.0,113.0,54.0,74.0,30.0,155.0,162.0,231.0,NaN
491,1635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,93.0,156.0,168.0,150.0,163.0,136.0,172.0,134.0,180.0,NaN
492,1636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,159.0,175.0,130.0,152.0,127.0,152.0,121.0,167.0,NaN
493,1637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.0,165.0,168.0,177.0,152.0,121.0,128.0,75.0,124.0,NaN
494,1638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0,73.0,67.0,61.0,119.0,99.0,113.0,156.0,158.0,NaN
495,1639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,137.0,185.0,145.0,174.0,126.0,242.0,256.0,231.0,NaN
496,1640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,44.0,89.0,34.0,83.0,1.0,120.0,124.0,116.0,NaN
497,1641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.0,70.0,47.0,23.0,68.0,92.0,73.0,97.0,147.0,NaN
498,1643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,203.0,202.0,183.0,204.0,192.0,229.0,221.0,241.0,264.0,NaN
499,1644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.0,139.0,133.0,88.0,178.0,156.0,150.0,128.0,122.0,NaN
500,1645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,92.0,51.0,71.0,92.0,68.0,157.0,NaN,NaN,NaN
501,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,96.0,96.0,30.0,45.0,125.0,169.0,98.0,106.0,NaN
502,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-312.0,-424.0,-505.0,-310.0,-328.0,-460.0,-468.0,-268.0,-446.0,NaN
504,2103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-106.0,-220.0,-256.0,-147.0,-129.0,-260.0,-288.0,-118.0,-234.0,NaN
505,2104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-272.0,-377.0,-394.0,-313.0,-281.0,-400.0,-411.0,-262.0,-363.0,NaN
506,2105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-56.0,-154.0,-180.0,-94.0,-56.0,-150.0,-185.0,-32.0,-122.0,NaN
507,2106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,-9.0,-23.0,38.0,77.0,-30.0,-58.0,86.0,5.0,NaN
508,2107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.0,31.0,46.0,63.0,115.0,21.0,-2.0,99.0,52.0,NaN
509,2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127.0,66.0,54.0,125.0,116.0,65.0,45.0,124.0,81.0,NaN
510,2111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-100.0,-172.0,-210.0,-112.0,-133.0,-183.0,-183.0,-108.0,-159.0,NaN

In [40]:
stations.describe()

                id    latitude   longitude
count   518.000000  518.000000  518.000000
mean    833.447876   33.709780   24.474954
std     552.941563   27.541498   97.507120
min       1.000000  -65.246000 -177.360000
25%     370.000000   29.012750  -70.135250
50%     809.500000   38.252000   16.460000
75%    1263.750000   51.963000  129.096000
max    2330.000000   79.550000  178.423000

# Worldbank Data, Emissions

In [20]:
#get the data from worldbank, Stand: 30. Oktober 2017

emissions = pd.read_csv('context_data/c02_emissions_worldbank_2014.csv', usecols=[0, 1, 58])

#emissions['c02_rank'] = emissions['2013'].rank(ascending=False)
emissions.rename(columns={'Country Code': 'country_code'}, inplace=True)
emissions.rename(columns={'Country Name': 'country_name'}, inplace=True)
emissions.rename(columns={'2014': 'co2_emissions'}, inplace=True)

#emissions.sort_values(by='c02_rank').head()

emissions.head()

  country_name country_code  co2_emissions
0        Aruba          ABW       8.408363
1  Afghanistan          AFG       0.299445
2       Angola          AGO       1.291328
3      Albania          ALB       1.978763
4      Andorra          AND       5.832170

# Sea Level Population Data, National Population Data

In [21]:
sealevel_pop = pd.read_csv('context_data/lecz-urban-rural-population-land-area-estimates_country-90m.csv')

In [22]:
sealevel_pop['ElevationZone'] = sealevel_pop['ElevationZone'].str.strip()
sealevel_pop['ISO3v10'] = sealevel_pop['ISO3v10'].str.strip()
pop = sealevel_pop.set_index(['ElevationZone'])
pop = pop.loc[['Elevations Less Than or Equal To 10m']]

pop = pop.reset_index()

pop_low_elevation = pop.groupby(by=['ISO3v10'])['Population2010'].sum()
pop_low_elevation = pop_low_elevation.to_frame(name = 'coastal_population2010_sum')
pop_low_elevation = pop_low_elevation.reset_index()

pop_low_elevation.head()

  ISO3v10  coastal_population2010_sum
0     ABW                       21327
1     AGO                      651360
2     AIA                        3848
3     ALB                      354132
4     ANT                       46295

In [23]:
pop_total = sealevel_pop.set_index(['ElevationZone'])
pop_total = pop_total.loc[['Total National Population']]

pop_total = pop_total.reset_index()

pop_total = pop_total.groupby(by=['ISO3v10'])['Population2010'].sum()
pop_total = pop_total.to_frame(name = 'total_population2010_sum')
pop_total = pop_total.reset_index()

pop_total.head()

  ISO3v10  total_population2010_sum
0     ABW                    108141
1     AGO                  19618432
2     AIA                     15645
3     ALB                   3215988
4     ANT                    202847

# Sea Level PSMSL Trend Data

In [24]:
trend_1985_2015 = pd.read_csv('context_data/trends_1985_2015.csv', usecols=[4,7])
trend_1985_2015.rename(columns={'trend': 'trend_1985_2015'}, inplace=True)
trend_1985_2015.head()

   trend_1985_2015  _id
0            2.385    1
1            3.531    7
2            1.476    8
3            1.484    9
4            2.190   10

In [25]:
pd.qcut(trend_1985_2015['trend_1985_2015'], 5)

0        (2.158, 3.131]
1        (3.131, 4.206]
2        (0.555, 2.158]
3        (0.555, 2.158]
4        (2.158, 3.131]
5        (0.555, 2.158]
6        (4.206, 9.444]
7        (2.158, 3.131]
8      (-20.452, 0.555]
9        (2.158, 3.131]
10       (2.158, 3.131]
11       (0.555, 2.158]
12       (2.158, 3.131]
13       (2.158, 3.131]
14       (2.158, 3.131]
15     (-20.452, 0.555]
16       (4.206, 9.444]
17     (-20.452, 0.555]
18       (0.555, 2.158]
19     (-20.452, 0.555]
20       (0.555, 2.158]
21       (3.131, 4.206]
22     (-20.452, 0.555]
23     (-20.452, 0.555]
24     (-20.452, 0.555]
25     (-20.452, 0.555]
26       (2.158, 3.131]
27     (-20.452, 0.555]
28     (-20.452, 0.555]
29       (2.158, 3.131]
30       (0.555, 2.158]
31       (0.555, 2.158]
32     (-20.452, 0.555]
33     (-20.452, 0.555]
34     (-20.452, 0.555]
35       (2.158, 3.131]
36       (0.555, 2.158]
37       (4.206, 9.444]
38       (0.555, 2.158]
39       (0.555, 2.158]
40       (3.131, 4.206]
41       (2.158, 3.131]
42       (2.158, 3.131]
43     (-20.452, 0.555]
44       (2.158, 3.131]
45       (4.206, 9.444]
46       (4.206, 9.444]
47       (2.158, 3.131]
48       (2.158, 3.131]
49       (4.206, 9.444]
50       (4.206, 9.444]
51     (-20.452, 0.555]
52       (4.206, 9.444]
53       (3.131, 4.206]
54       (0.555, 2.158]
55       (2.158, 3.131]
56       (4.206, 9.444]
57       (2.158, 3.131]
58       (0.555, 2.158]
59       (0.555, 2.158]
60       (0.555, 2.158]
61     (-20.452, 0.555]
62       (0.555, 2.158]
63       (4.206, 9.444]
64     (-20.452, 0.555]
65       (4.206, 9.444]
66       (2.158, 3.131]
67       (3.131, 4.206]
68       (4.206, 9.444]
69       (0.555, 2.158]
70       (2.158, 3.131]
71     (-20.452, 0.555]
72       (0.555, 2.158]
73       (0.555, 2.158]
74     (-20.452, 0.555]
75       (2.158, 3.131]
76     (-20.452, 0.555]
77       (4.206, 9.444]
78       (3.131, 4.206]
79       (3.131, 4.206]
80       (4.206, 9.444]
81     (-20.452, 0.555]
82     (-20.452, 0.555]
83       (2.158, 3.131]
84       (3.131, 4.206]
85       (4.206, 9.444]
86       (2.158, 3.131]
87     (-20.452, 0.555]
88     (-20.452, 0.555]
89       (2.158, 3.131]
90       (3.131, 4.206]
91     (-20.452, 0.555]
92       (2.158, 3.131]
93       (0.555, 2.158]
94     (-20.452, 0.555]
95     (-20.452, 0.555]
96     (-20.452, 0.555]
97       (4.206, 9.444]
98       (0.555, 2.158]
99       (0.555, 2.158]
             ...
406      (4.206, 9.444]
407      (0.555, 2.158]
408      (3.131, 4.206]
409      (3.131, 4.206]
410      (0.555, 2.158]
411      (4.206, 9.444]
412      (2.158, 3.131]
413      (3.131, 4.206]
414      (2.158, 3.131]
415      (2.158, 3.131]
416      (0.555, 2.158]
417      (3.131, 4.206]
418      (4.206, 9.444]
419      (2.158, 3.131]
420    (-20.452, 0.555]
421      (2.158, 3.131]
422      (3.131, 4.206]
423      (3.131, 4.206]
424      (2.158, 3.131]
425      (2.158, 3.131]
426      (2.158, 3.131]
427      (2.158, 3.131]
428      (3.131, 4.206]
429    (-20.452, 0.555]
430      (0.555, 2.158]
431      (3.131, 4.206]
432      (3.131, 4.206]
433      (3.131, 4.206]
434      (4.206, 9.444]
435      (0.555, 2.158]
436      (0.555, 2.158]
437      (4.206, 9.444]
438      (4.206, 9.444]
439      (4.206, 9.444]
440      (4.206, 9.444]
441      (0.555, 2.158]
442      (3.131, 4.206]
443      (0.555, 2.158]
444      (2.158, 3.131]
445      (4.206, 9.444]
446      (4.206, 9.444]
447      (2.158, 3.131]
448      (4.206, 9.444]
449      (3.131, 4.206]
450      (3.131, 4.206]
451      (2.158, 3.131]
452      (0.555, 2.158]
453      (2.158, 3.131]
454      (3.131, 4.206]
455      (0.555, 2.158]
456      (3.131, 4.206]
457      (3.131, 4.206]
458      (2.158, 3.131]
459      (4.206, 9.444]
460      (3.131, 4.206]
461      (3.131, 4.206]
462    (-20.452, 0.555]
463    (-20.452, 0.555]
464      (4.206, 9.444]
465      (4.206, 9.444]
466      (3.131, 4.206]
467    (-20.452, 0.555]
468      (0.555, 2.158]
469    (-20.452, 0.555]
470      (2.158, 3.131]
471    (-20.452, 0.555]
472    (-20.452, 0.555]
473      (2.158, 3.131]
474      (4.206, 9.444]
475      (2.158, 3.131]
476      (0.555, 2.158]
477      (0.555, 2.158]
478      (3.131, 4.206]
479      (2.158, 3.131]
480      (4.206, 9.444]
481      (0.555, 2.158]
482      (2.158, 3.131]
483      (2.158, 3.131]
484      (2.158, 3.131]
485    (-20.452, 0.555]
486    (-20.452, 0.555]
487    (-20.452, 0.555]
488    (-20.452, 0.555]
489    (-20.452, 0.555]
490    (-20.452, 0.555]
491      (0.555, 2.158]
492      (3.131, 4.206]
493      (2.158, 3.131]
494      (0.555, 2.158]
495    (-20.452, 0.555]
496    (-20.452, 0.555]
497    (-20.452, 0.555]
498      (0.555, 2.158]
499      (0.555, 2.158]
500      (4.206, 9.444]
501    (-20.452, 0.555]
502      (3.131, 4.206]
503    (-20.452, 0.555]
504      (2.158, 3.131]
505      (2.158, 3.131]
Name: trend_1985_2015, Length: 506, dtype: category
Categories (5, interval[float64]): [(-20.452, 0.555] < (0.555, 2.158] < (2.158, 3.131] < (3.131, 4.206] < (4.206, 9.444]]

In [13]:
trend_longest = pd.read_csv('context_data/trends_longest.csv', usecols=[4, 6, 12])
trend_longest.rename(columns={'trend': 'trend_longest'}, inplace=True)
trend_longest.rename(columns={'startYear': 'start_year'}, inplace=True)
trend_longest.head()

   start_year  trend_longest  _id
0        1807           0.97    1
1        1811           0.80    2
2        1968           1.73    3
3        1843           2.12    7
4        1849           1.42    8

# Risk Level Data

In [26]:
riskindex = pd.read_csv('context_data/riskindex.csv', usecols=[0,1,2,3])
riskindex.rename(columns={'Rank': 'risk_rank'}, inplace=True)
riskindex.head()

   risk_rank      Country  risk_index risk_description
0          1      Vanuatu       36.28        very high
1          2        Tonga       29.33        very high
2          3  Philippines       26.70        very high
3          4    Guatemala       19.88        very high
4          5   Bangladesh       19.17        very high

# Create Sea Level Context Data

In [27]:
#Add emissions
sealevel_context = stations.merge(emissions, left_on='country', right_on='country_code', how='left')

sealevel_context.describe()

                id    latitude   longitude  co2_emissions
count   520.000000  520.000000  520.000000     506.000000
mean    833.167308   33.444104   24.284562      10.048480
std     552.018999   27.819672   97.413101       4.654381
min       1.000000  -65.246000 -177.360000       0.221347
25%     372.000000   28.428000  -70.172750       6.180337
50%     809.500000   38.131000   16.460000       9.538706
75%    1263.250000   51.933000  129.056000      15.113239
max    2330.000000   79.550000  178.423000      16.493666

In [28]:
#Add sealevel population
sealevel_context = sealevel_context.merge(pop_low_elevation, left_on='country', right_on='ISO3v10', how='left')

sealevel_context['id'].nunique()

520

In [29]:
sealevel_context.head()

,id,location,latitude,longitude,country,country_name,country_code,co2_emissions,ISO3v10,coastal_population2010_sum
0,1,Brest,48.383,-4.495,FRA,France,FRA,4.572088,FRA,2983590.0
1,3,Sheerness,51.446,0.743,GBR,United Kingdom,GBR,6.497440,GBR,6662984.0
2,5,Holyhead,53.314,-4.620,GBR,United Kingdom,GBR,6.497440,GBR,6662984.0
3,7,Cuxhaven 2,53.867,8.717,DEU,Germany,DEU,8.889370,DEU,4430201.0
4,8,Wismar 2,53.899,11.458,DEU,Germany,DEU,8.889370,DEU,4430201.0

In [30]:
# clean up data (remove country code)

sealevel_context = sealevel_context.drop('ISO3v10', 1)

In [31]:
#Add national population
sealevel_context = sealevel_context.merge(pop_total, left_on='country', right_on='ISO3v10', how='left')

In [32]:
sealevel_context.head()

,id,location,latitude,longitude,country,country_name,country_code,co2_emissions,coastal_population2010_sum,ISO3v10,total_population2010_sum
0,1,Brest,48.383,-4.495,FRA,France,FRA,4.572088,2983590.0,FRA,63125894.0
1,3,Sheerness,51.446,0.743,GBR,United Kingdom,GBR,6.497440,6662984.0,GBR,62417431.0
2,5,Holyhead,53.314,-4.620,GBR,United Kingdom,GBR,6.497440,6662984.0,GBR,62417431.0
3,7,Cuxhaven 2,53.867,8.717,DEU,Germany,DEU,8.889370,4430201.0,DEU,82162512.0
4,8,Wismar 2,53.899,11.458,DEU,Germany,DEU,8.889370,4430201.0,DEU,82162512.0

In [33]:
# clean up data (remove country code)

sealevel_context = sealevel_context.drop('ISO3v10', 1)
#sealevel_context = sealevel_context.drop('country_name', 1)
sealevel_context.head()

,id,location,latitude,longitude,country,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum
0,1,Brest,48.383,-4.495,FRA,France,FRA,4.572088,2983590.0,63125894.0
1,3,Sheerness,51.446,0.743,GBR,United Kingdom,GBR,6.497440,6662984.0,62417431.0
2,5,Holyhead,53.314,-4.620,GBR,United Kingdom,GBR,6.497440,6662984.0,62417431.0
3,7,Cuxhaven 2,53.867,8.717,DEU,Germany,DEU,8.889370,4430201.0,82162512.0
4,8,Wismar 2,53.899,11.458,DEU,Germany,DEU,8.889370,4430201.0,82162512.0

In [34]:
#Add trend data for 1985 to 2015
sealevel_context = sealevel_context.merge(trend_1985_2015, left_on='id', right_on='_id', how='left')

In [35]:
# clean up data (remove _id)
sealevel_context = sealevel_context.drop('_id', 1)

In [36]:
#Add longest trend
sealevel_context = sealevel_context.merge(trend_longest, left_on='id', right_on='_id', how='left')

In [37]:
sealevel_context.head()

,id,location,latitude,longitude,country,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum,trend_1985_2015,start_year,trend_longest,_id
0,1,Brest,48.383,-4.495,FRA,France,FRA,4.572088,2983590.0,63125894.0,2.385,1807.0,0.97,1.0
1,3,Sheerness,51.446,0.743,GBR,United Kingdom,GBR,6.497440,6662984.0,62417431.0,NaN,1968.0,1.73,3.0
2,5,Holyhead,53.314,-4.620,GBR,United Kingdom,GBR,6.497440,6662984.0,62417431.0,NaN,NaN,NaN,NaN
3,7,Cuxhaven 2,53.867,8.717,DEU,Germany,DEU,8.889370,4430201.0,82162512.0,3.531,1843.0,2.12,7.0
4,8,Wismar 2,53.899,11.458,DEU,Germany,DEU,8.889370,4430201.0,82162512.0,1.476,1849.0,1.42,8.0

In [38]:
#Add riskindex
#sealevel_context = sealevel_context.merge(riskindex, left_on='country_name', right_on='Country', how='left')

#sealevel_context.head()

In [39]:
#sealevel_context = sealevel_context.drop('Country', 1)
#sealevel_context = sealevel_context.drop('country_name', 1)
sealevel_context = sealevel_context.drop('country', 1)
sealevel_context = sealevel_context.drop('_id', 1)

In [40]:
sealevel_context.head()

,id,location,latitude,longitude,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum,trend_1985_2015,start_year,trend_longest
0,1,Brest,48.383,-4.495,France,FRA,4.572088,2983590.0,63125894.0,2.385,1807.0,0.97
1,3,Sheerness,51.446,0.743,United Kingdom,GBR,6.497440,6662984.0,62417431.0,NaN,1968.0,1.73
2,5,Holyhead,53.314,-4.620,United Kingdom,GBR,6.497440,6662984.0,62417431.0,NaN,NaN,NaN
3,7,Cuxhaven 2,53.867,8.717,Germany,DEU,8.889370,4430201.0,82162512.0,3.531,1843.0,2.12
4,8,Wismar 2,53.899,11.458,Germany,DEU,8.889370,4430201.0,82162512.0,1.476,1849.0,1.42

In [41]:
#Add tide data

sealevel_context = sealevel_context.merge(tide_data, left_on='id', right_on='id', how='left')

In [42]:
sealevel_context['co2_emissions'] = sealevel_context['co2_emissions'].round(decimals=2)
sealevel_context['trend_1985_2015'] = sealevel_context['trend_1985_2015'].round(decimals=2)

sealevel_context['trend_longest'] = sealevel_context['trend_1985_2015'].round(decimals=2)
sealevel_context['start_year'] = sealevel_context['start_year'].astype(object)
sealevel_context['total_population2010_sum'] = sealevel_context['total_population2010_sum'].astype(object)
sealevel_context['coastal_population2010_sum'] = sealevel_context['coastal_population2010_sum'].astype(object)
#sealevel_context['risk_rank'] = sealevel_context['risk_rank'].astype(object)
#sealevel_context['c02_rank'] = sealevel_context['c02_rank'].astype(object)

In [43]:
sealevel_context.head()

,id,location,latitude,longitude,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum,trend_1985_2015,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,Brest,48.383,-4.495,France,FRA,4.57,2.98359e+06,6.31259e+07,2.38,...,161.0,171.0,183.0,143.0,151.0,173.0,228.0,152.0,183.0,NaN
1,3,Sheerness,51.446,0.743,United Kingdom,GBR,6.50,6.66298e+06,6.24174e+07,NaN,...,285.0,283.0,NaN,NaN,NaN,NaN,NaN,234.0,NaN,NaN
2,5,Holyhead,53.314,-4.620,United Kingdom,GBR,6.50,6.66298e+06,6.24174e+07,NaN,...,99.0,132.0,166.0,162.0,192.0,118.0,182.0,144.0,146.0,NaN
3,7,Cuxhaven 2,53.867,8.717,Germany,DEU,8.89,4.4302e+06,8.21625e+07,3.53,...,349.0,286.0,267.0,326.0,300.0,264.0,299.0,384.0,330.0,NaN
4,8,Wismar 2,53.899,11.458,Germany,DEU,8.89,4.4302e+06,8.21625e+07,1.48,...,154.0,125.0,162.0,136.0,181.0,141.0,101.0,159.0,NaN,NaN

In [44]:
sealevel_context.describe()

,id,latitude,longitude,co2_emissions,trend_1985_2015,trend_longest,1807,1808,1809,1810,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,520.000000,520.000000,520.000000,506.000000,425.000000,425.000000,1.0,1.0,1.0,1.0,...,512.000000,512.000000,512.000000,508.000000,492.000000,473.000000,447.000000,436.000000,411.000000,1.0
mean,833.167308,33.444104,24.284562,10.048182,2.044188,2.044188,0.0,-103.0,-15.0,-24.0,...,55.833984,53.792969,62.427734,70.809055,73.264228,58.082452,66.821029,72.805046,76.839416,240.0
std,552.018999,27.819672,97.413101,4.653156,3.320204,3.320204,NaN,NaN,NaN,NaN,...,202.224444,218.195186,230.413766,211.795166,214.398850,239.667672,241.409536,218.152654,242.638461,NaN
min,1.000000,-65.246000,-177.360000,0.220000,-20.450000,-20.450000,0.0,-103.0,-15.0,-24.0,...,-1156.000000,-1219.000000,-1183.000000,-1248.000000,-1250.000000,-1341.000000,-1287.000000,-1275.000000,-1312.000000,240.0
25%,372.000000,28.428000,-70.172750,6.180000,0.970000,0.970000,0.0,-103.0,-15.0,-24.0,...,-11.250000,-6.000000,7.000000,2.750000,16.750000,-6.000000,5.000000,3.750000,8.500000,240.0
50%,809.500000,38.131000,16.460000,9.540000,2.620000,2.620000,0.0,-103.0,-15.0,-24.0,...,72.000000,76.500000,89.500000,84.500000,94.000000,93.000000,105.000000,100.500000,119.000000,240.0
75%,1263.250000,51.933000,129.056000,15.110000,3.890000,3.890000,0.0,-103.0,-15.0,-24.0,...,147.000000,156.250000,171.250000,164.000000,172.250000,172.000000,182.500000,178.750000,199.500000,240.0
max,2330.000000,79.550000,178.423000,16.490000,9.440000,9.440000,0.0,-103.0,-15.0,-24.0,...,986.000000,1034.000000,1197.000000,1127.000000,1053.000000,1147.000000,1113.000000,1110.000000,870.000000,240.0

In [45]:
sealevel_context.to_csv('context_data/sealevel_data_download.csv', index=False)

In [46]:
sealevel_context.to_csv('context_data/sealevel_context_data.csv', index=False)

In [47]:
sealevel_context.to_csv('data/dataviz/sealevel_context_data.csv', index=False)