In [1]:
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

#get data from worldbank
from pandas_datareader import wb

import glob
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import json
import matplotlib.pyplot as plt

InteractiveShell.ast_node_interactivity = "all"
pd.options.display.max_rows = 200
#matplotlib.rcParams['svg.fonttype'] = 'none'

In [5]:
country_list = pd.read_csv('../../../Desktop/country_list_europe.csv')

In [6]:
country_list

                   Country ISO-3
0                  Albania   ALB
1                  Andorra   AND
2                  Austria   AUT
3                  Belarus   BLR
4                  Belgium   BEL
5   Bosnia and Herzegovina   BIH
6                 Bulgaria   BGR
7                  Croatia   HRV
8                   Cyprus   CYP
9           Czech Republic   CZE
10                 Denmark   DNK
11                 Estonia   EST
12           Faroe Islands   FRO
13                 Finland   FIN
14                  France   FRA
15                 Germany   DEU
16               Gibraltar   GIB
17                  Greece   GRC
18                 Hungary   HUN
19                 Iceland   ISL
20                 Ireland   IRL
21             Isle of Man   IMN
22                   Italy   ITA
23                  Kosovo   XKX
24                  Latvia   LVA
25           Liechtenstein   LIE
26               Lithuania   LTU
27              Luxembourg   LUX
28               Macedonia   MKD
29                   Malta   MLT
30                 Moldova   MDA
31                  Monaco   MCO
32              Montenegro   MNE
33             Netherlands   NLD
34                  Norway   NOR
35                  Poland   POL
36                Portugal   PRT
37                 Romania   ROU
38                  Russia   RUS
39              San Marino   SMR
40                  Serbia   SRB
41                Slovakia   SVK
42                Slovenia   SVN
43                   Spain   ESP
44                  Sweden   SWE
45             Switzerland   CHE
46                 Ukraine   UKR
47          United Kingdom   GBR
48            Vatican city   VAT

In [7]:
#get the data from worldbank, Stand: 30. Oktober 2017

emissions = pd.read_csv('context_data/c02_emissions_worldbank_2014.csv', usecols=[0, 1, 48, 58])

#emissions['c02_rank'] = emissions['2013'].rank(ascending=False)
emissions.rename(columns={'Country Code': 'country_code'}, inplace=True)
emissions.rename(columns={'Country Name': 'country_name'}, inplace=True)
#emissions.rename(columns={'2014': 'co2_emissions'}, inplace=True)

#emissions.sort_values(by='c02_rank').head()

emissions.head()

  country_name country_code       2004      2014
0        Aruba          ABW  26.517293  8.408363
1  Afghanistan          AFG   0.039378  0.299445
2       Angola          AGO   0.996165  1.291328
3      Albania          ALB   1.376213  1.978763
4      Andorra          AND   7.358625  5.832170

In [8]:
emissions_europe = emissions.merge(country_list, left_on='country_code', right_on='ISO-3', how='inner')

In [9]:
emissions_europe

,country_name,country_code,2004,2014,Country,ISO-3
0,Albania,ALB,1.376213,1.978763,Albania,ALB
1,Andorra,AND,7.358625,5.832170,Andorra,AND
2,Austria,AUT,8.858364,6.873713,Austria,AUT
3,Belgium,BEL,10.661290,8.328160,Belgium,BEL
4,Bulgaria,BGR,6.064892,5.871616,Bulgaria,BGR
5,Bosnia and Herzegovina,BIH,4.128335,6.234719,Bosnia and Herzegovina,BIH
6,Belarus,BLR,5.977158,6.701958,Belarus,BLR
7,Switzerland,CHE,5.462569,4.311563,Switzerland,CHE
8,Cyprus,CYP,7.258440,5.260352,Cyprus,CYP
9,Czech Republic,CZE,11.451844,9.165978,Czech Republic,CZE
10,Germany,DEU,9.898682,8.889370,Germany,DEU
11,Denmark,DNK,9.362701,5.935712,Denmark,DNK
12,Spain,ESP,7.908051,5.033824,Spain,ESP
13,Estonia,EST,12.683990,14.848819,Estonia,EST
14,Finland,FIN,12.832675,8.660721,Finland,FIN
15,France,FRA,6.120078,4.572088,France,FRA
16,Faroe Islands,FRO,15.538458,12.237849,Faroe Islands,FRO
17,United Kingdom,GBR,8.989140,6.497440,United Kingdom,GBR
18,Gibraltar,GIB,12.071576,15.513485,Gibraltar,GIB
19,Greece,GRC,8.867967,6.180337,Greece,GRC
20,Croatia,HRV,5.040783,3.973805,Croatia,HRV
21,Hungary,HUN,5.684911,4.265575,Hungary,HUN
22,Isle of Man,IMN,NaN,NaN,Isle of Man,IMN
23,Ireland,IRL,10.751637,7.378118,Ireland,IRL
24,Iceland,ISL,7.683683,6.059657,Iceland,ISL
25,Italy,ITA,8.216487,5.270867,Italy,ITA
26,Liechtenstein,LIE,NaN,1.185229,Liechtenstein,LIE
27,Lithuania,LTU,3.922094,4.378090,Lithuania,LTU
28,Luxembourg,LUX,24.599026,17.362121,Luxembourg,LUX
29,Latvia,LVA,3.271442,3.498193,Latvia,LVA
30,Monaco,MCO,NaN,NaN,Monaco,MCO
31,Moldova,MDA,1.263730,1.386829,Moldova,MDA
32,"Macedonia, FYR",MKD,5.440655,3.614938,Macedonia,MKD
33,Malta,MLT,6.415249,5.491525,Malta,MLT
34,Montenegro,MNE,NaN,3.556072,Montenegro,MNE
35,Netherlands,NLD,11.352269,9.920138,Netherlands,NLD
36,Norway,NOR,9.287466,9.270945,Norway,NOR
37,Poland,POL,7.972716,7.517152,Poland,POL
38,Portugal,PRT,6.023138,4.331554,Portugal,PRT
39,Romania,ROU,4.517307,3.516154,Romania,ROU
40,Russian Federation,RUS,11.120627,11.857528,Russia,RUS
41,San Marino,SMR,NaN,NaN,San Marino,SMR
42,Serbia,SRB,NaN,5.282522,Serbia,SRB
43,Slovak Republic,SVK,7.212801,5.661581,Slovakia,SVK
44,Slovenia,SVN,7.884829,6.213687,Slovenia,SVN
45,Sweden,SWE,6.062241,4.478182,Sweden,SWE
46,Ukraine,UKR,7.236768,5.020747,Ukraine,UKR
47,Kosovo,XKX,NaN,NaN,Kosovo,XKX

In [11]:
worldbank_meta = pd.read_csv('../../../Downloads/API_EN.ATM.CO2E.PC_DS2_en_csv_v2/Metadata_Country_API_EN.ATM.CO2E.PC_DS2_en_csv_v2.csv')

In [13]:
worldbank_meta = worldbank_meta[['Country Code', 'IncomeGroup']]

In [17]:
worldbank_meta

    Country Code          IncomeGroup
0            ABW          High income
1            AFG           Low income
2            AGO  Lower middle income
3            ALB  Upper middle income
4            AND          High income
5            ARB                  NaN
6            ARE          High income
7            ARG  Upper middle income
8            ARM  Lower middle income
9            ASM  Upper middle income
10           ATG          High income
11           AUS          High income
12           AUT          High income
13           AZE  Upper middle income
14           BDI           Low income
15           BEL          High income
16           BEN           Low income
17           BFA           Low income
18           BGD  Lower middle income
19           BGR  Upper middle income
20           BHR          High income
21           BHS          High income
22           BIH  Upper middle income
23           BLR  Upper middle income
24           BLZ  Upper middle income
25           BMU          High income
26           BOL  Lower middle income
27           BRA  Upper middle income
28           BRB          High income
29           BRN          High income
30           BTN  Lower middle income
31           BWA  Upper middle income
32           CAF           Low income
33           CAN          High income
34           CEB                  NaN
35           CHE          High income
36           CHI          High income
37           CHL          High income
38           CHN  Upper middle income
39           CIV  Lower middle income
40           CMR  Lower middle income
41           COD           Low income
42           COG  Lower middle income
43           COL  Upper middle income
44           COM           Low income
45           CPV  Lower middle income
46           CRI  Upper middle income
47           CSS                  NaN
48           CUB  Upper middle income
49           CUW          High income
50           CYM          High income
51           CYP          High income
52           CZE          High income
53           DEU          High income
54           DJI  Lower middle income
55           DMA  Upper middle income
56           DNK          High income
57           DOM  Upper middle income
58           DZA  Upper middle income
59           EAP                  NaN
60           EAR                  NaN
61           EAS                  NaN
62           ECA                  NaN
63           ECS                  NaN
64           ECU  Upper middle income
65           EGY  Lower middle income
66           EMU                  NaN
67           ERI           Low income
68           ESP          High income
69           EST          High income
70           ETH           Low income
71           EUU                  NaN
72           FCS                  NaN
73           FIN          High income
74           FJI  Upper middle income
75           FRA          High income
76           FRO          High income
77           FSM  Lower middle income
78           GAB  Upper middle income
79           GBR          High income
80           GEO  Lower middle income
81           GHA  Lower middle income
82           GIB          High income
83           GIN           Low income
84           GMB           Low income
85           GNB           Low income
86           GNQ  Upper middle income
87           GRC          High income
88           GRD  Upper middle income
89           GRL          High income
90           GTM  Lower middle income
91           GUM          High income
92           GUY  Upper middle income
93           HIC                  NaN
94           HKG          High income
95           HND  Lower middle income
96           HPC                  NaN
97           HRV  Upper middle income
98           HTI           Low income
99           HUN          High income
..           ...                  ...
163          MRT  Lower middle income
164          MUS  Upper middle income
165          MWI           Low income
166          MYS  Upper middle income
167          NAC                  NaN
168          NAM  Upper middle income
169          NCL          High income
170          NER           Low income
171          NGA  Lower middle income
172          NIC  Lower middle income
173          NLD          High income
174          NOR          High income
175          NPL           Low income
176          NRU  Upper middle income
177          NZL          High income
178          OED                  NaN
179          OMN          High income
180          OSS                  NaN
181          PAK  Lower middle income
182          PAN  Upper middle income
183          PER  Upper middle income
184          PHL  Lower middle income
185          PLW          High income
186          PNG  Lower middle income
187          POL          High income
188          PRE                  NaN
189          PRI          High income
190          PRK           Low income
191          PRT          High income
192          PRY  Upper middle income
193          PSE  Lower middle income
194          PSS                  NaN
195          PST                  NaN
196          PYF          High income
197          QAT          High income
198          ROU  Upper middle income
199          RUS  Upper middle income
200          RWA           Low income
201          SAS                  NaN
202          SAU          High income
203          SDN  Lower middle income
204          SEN           Low income
205          SGP          High income
206          SLB  Lower middle income
207          SLE           Low income
208          SLV  Lower middle income
209          SMR          High income
210          SOM           Low income
211          SRB  Upper middle income
212          SSA                  NaN
213          SSD           Low income
214          SSF                  NaN
215          SST                  NaN
216          STP  Lower middle income
217          SUR  Upper middle income
218          SVK          High income
219          SVN          High income
220          SWE          High income
221          SWZ  Lower middle income
222          SXM          High income
223          SYC          High income
224          SYR  Lower middle income
225          TCA          High income
226          TCD           Low income
227          TEA                  NaN
228          TEC                  NaN
229          TGO           Low income
230          THA  Upper middle income
231          TJK  Lower middle income
232          TKM  Upper middle income
233          TLA                  NaN
234          TLS  Lower middle income
235          TMN                  NaN
236          TON  Upper middle income
237          TSA                  NaN
238          TSS                  NaN
239          TTO          High income
240          TUN  Lower middle income
241          TUR  Upper middle income
242          TUV  Upper middle income
243          TZA           Low income
244          UGA           Low income
245          UKR  Lower middle income
246          UMC                  NaN
247          URY          High income
248          USA          High income
249          UZB  Lower middle income
250          VCT  Upper middle income
251          VEN  Upper middle income
252          VGB          High income
253          VIR          High income
254          VNM  Lower middle income
255          VUT  Lower middle income
256          WLD                  NaN
257          WSM  Upper middle income
258          XKX  Lower middle income
259          YEM  Lower middle income
260          ZAF  Upper middle income
261          ZMB  Lower middle income
262          ZWE           Low income

[263 rows x 2 columns]

In [26]:
emissions_europe_meta = emissions_europe.merge(worldbank_meta, left_on='country_code', right_on='Country Code', how='inner')

In [28]:
emissions_europe_meta['change'] = (emissions_europe_meta['2014'] - emissions_europe_meta['2004']) / emissions_europe_meta['2004']

In [31]:
emissions_europe_meta = emissions_europe_meta[['Country', '2004', '2014', 'IncomeGroup', 'change']]
emissions_europe_meta['2004'] = emissions_europe_meta['2004'].round(decimals=2)

emissions_europe_meta['2014'] = emissions_europe_meta['2014'].round(decimals=2)

emissions_europe_meta['change'] = emissions_europe_meta['change'].round(decimals=2)

/Users/felix/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/felix/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/felix/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
emissions_europe_meta.to_csv('../../../Desktop/co2_emissions_europe.csv', index=False)